

.themeContainer{
    position: absolute;
    top: 0;
    z-index: 20;
}
.switch{
    background-color: #a4b0d8;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
/* .switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top:0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
} */
.switch.active{
    background: orange;
    color: #000;
}
/* .switch.active::after{
    right: 0;
    left: unset;
} */
.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
}
body{
    transition: .3s ease all;
}
body.dark{
    background-color: #000;
    color: whitesmoke;
}
/* este id esta dentro del archivo svg del sol */
#iconSun{
    fill: red;
    width: 70%;
    position: relative;
    top: 4px;
}





@media only screen and (min-width: 500px){
    .themeContainer{
        top: 62px;
    }
}
